<h1>Kategorie</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cattegories.each do |cattegory| %>
      <tr>
        <td><span style="font-size: 20px"><%= link_to cattegory.name, cattegory_path(cattegory) %></span></td>
        <td style="text-align: right; width: 100%; border-style: inset"><%= link_to 'Destroy', cattegory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cattegory', new_cattegory_path %>
