<h1>WPISY</h1>


<% @posts.each do |post| %>
  <div class="post">
    <h2><%= link_to post.title, post %></h2>
    <%= link_to post.cattegory.name, cattegory_path(post.cattegory) %>
    <div class="post_content">
      <%= post.content %>
    </div>
  </div>
<% end %>


<br>
